<footer class="footer">
  <div class="copyright">
    <p>Made with <span class="heart">♥</span> using <a href="https://www.11ty.dev" target="_blank" rel="noopener noreferrer">11ty</a></p>
    <p><a href="https://github.com/kirillunlimited/kirillunlimited.ru" target="_blank" rel="noopener noreferrer">Source code</a></p>
  </div>
  <fieldset class="scheme-select">
    <legend class="scheme-select__legend">Color scheme</legend>
    <button class="scheme-select__button" data-scheme-value="light">Light</button> /
    <button class="scheme-select__button" data-scheme-value="auto">Auto</button> /
    <button class="scheme-select__button" data-scheme-value="dark">Dark</button>
  </fieldset>
</footer>