<footer class="footer">
  <a class="footer__512kbLink" href="https://512kb.club" target="_blank" rel="noopener noreferrer">
    <img class="footer__512kbImage" src="https://512kb.club/assets/images/orange-team.svg" alt="a proud member of the orange team of 512KB club" />
  </a>
  {% if speedlify %} <a href="https://kirillunlimited-speedlify.netlify.app/kirillunlimited.com/#site-{{speedlify}}" target="_blank" rel="noopener noreferrer" class="footer__speedlify">
    <speedlify-score speedlify-url="https://kirillunlimited-speedlify.netlify.app" hash="{{speedlify}}">
  </a>{% endif %}
  <p><a href="https://github.com/kirillunlimited/kirillunlimited.com" target="_blank" rel="noopener noreferrer">Made</a> with <span class="footer__heart">♥</span> using <a href="https://www.11ty.dev" target="_blank" rel="noopener noreferrer">11ty</a></p>
</footer>