<footer>
  <div class="copyright">
    <p>{{copyright | safe}} <a href="https://www.11ty.dev" target="_blank" rel="noopener noreferrer">11ty</a></p>
    <p>© 2019–<span id="current-year"></span></p>
  </div>
  <fieldset class="scheme-select">
    <legend>{{scheme.legend}}</legend>
    <button data-scheme-value="light">{{scheme.light}}</button> /
    <button data-scheme-value="auto">{{scheme.auto}}</button> /
    <button data-scheme-value="dark">{{scheme.dark}}</button>
  </fieldset>
</footer>