<header class="header">
  <a class="logo" href="/" {% if page.url == "/" %} aria-current="page"{% endif %} aria-label="home">
    {% logo 'src/assets/img/avatar.jpg' %}
  </a>
  <nav class="menu">
    <ul class="menu__list">
      {%- set isPost = collections.posts | isPageInCollection(page.url) -%}
      {%- for element in collections.pages | sortByOrder -%}
        <li>
          <a
            href="{{element.url}}"
            class="menu__link {% if (page.url == element.url) or (element.url == '/blog/' and isPost) %}active{% endif %}"
            {% if page.url == element.url %} aria-current="page"{% endif %}
          >
            {{ element.data.title }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>