<header class="header">
  <div class="profile">
    <a
      href="./img/kirillunlimited.jpg"
      class="portrait"
      title="Фотография в исходном размере"
    >
      <img
        class="photo"
        src="./img/portrait.jpg"
        alt="Кирилл Иванов"
        width="256"
        height="256"
      />
    </a>
    <div>
      <h1>Кирилл Иванов</h1>
      <h2>Front-end разработчик</h2>
    </div>
  </div>
</header>
