.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 1em 0 0;
}

@media (orientation: portrait) {
  .blog {
    grid-template-columns: 1fr;
  }
}

.blog__post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--text-margin);
  position: relative;
  padding: 0 0 1em;
  border: 1px solid var(--border-color);
  transition: 0.1s ease-in-out border-color;
}

.blog__text {
  padding: 0 1em;
}

.blog__title {
  font-weight: 700;
  text-transform: uppercase;
}

.blog__link {
  position: static;
}

.blog__footer {
  width: 100%;
}
