.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 1em 0 0;
}

@media (orientation: portrait) {
  .blog {
    grid-template-columns: 1fr;
  }
}

.blog__post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--text-margin);
  position: relative;
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: 1em;
  transition: 0.1s ease-in-out border-color;
}

.blog__title {
  font-weight: 700;
  text-transform: uppercase;
}

.blog__link {
  position: static;
}

.blog__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.blog__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
