.fieldset {
  padding: 0.5em 1em 1em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  transition: 0.1s ease-in-out border-color;
}

.fieldset__legend {
  margin: 0 auto;
  padding: 0 0.25em;
}

.fieldset__legend + p {
  margin-top: 0;
}
