.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 var(--layout-padding-h) var(--layout-padding-v) var(--layout-padding-h);
  flex-shrink: 0;
}

@media (orientation: portrait) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
    text-align: center;
  }
}

.footer__heart {
  color: tomato;
}

.footer__performance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

@media (orientation: portrait) {
  .footer__performance {
    order: 1;
  }
}

.footer__speedlify,
.footer__speedlify:hover {
  box-shadow: none;
}

.footer__speedlify .speedlify-score {
  color: var(--text-color);
  transition: 0.1s ease-in-out color;
}

.footer__512kbLink {
  width: 10em;
}

@media (orientation: portrait) {
  .footer__512kbLink {
    width: 12em;
  }
}

.footer__512kbLink,
.footer__512kbLink:hover {
  box-shadow: none;
}

@media (orientation: landscape) {
  /* Vertical align if there is no speedlify widget */
  .footer__512kbLink:first-child {
    margin-top: -1.8em;
  }
}

.footer__512kbImage {
  display: block;
  width: 100%;
}