.logo {
  width: 3em;
  height: 3em;
  max-width: 64px;
  max-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.logo:hover {
  box-shadow: none;
}

.logo[aria-current] {
  box-shadow: none;
  pointer-events: none;
}

.logo--big {
  width: 8em;
  height: 8em;
  max-width: 180px;
  max-height: 180px;
}

.logo__picture {
  display: block;
  width: 100%;
}

.logo__pictureImg {
  display: block;
  max-width: 100%;
  height: auto;
}
