.main {
  flex: 1 0 auto;
  padding: var(--layout-padding-v) var(--layout-padding-h);
  line-height: 1.4;
}

.main--404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.main *:first-child {
  margin-top: 0;
}

.main *:last-child {
  margin-bottom: 0;
}

.main h2 {
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.main h3 {
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.main p {
  margin: var(--text-margin) 0;
}

.main strong {
  font-weight: 700;
}
