.picture {
  display: block;
  position: relative;
  margin: 0 0 1em 0;
}

.picture--left {
  float: left;
}

.picture--right {
  float: right;
  margin-left: 0.5em;
}

.picture__image {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  border-radius: 1em;
}

.picture--left,
.picture--right {
  width: 30%;
  max-width: 320px;
}
