.scheme-select {
  text-align: center;
  height: 3.4em;
  display: flex;
  gap: 0.75em;
}

.scheme-select__control {
  display: flex;
}

.scheme-select__radio {
  width: 0;
  opacity: 0;
}

.scheme-select__radioLabel {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  gap: 0.25em;
}

.scheme-select__radio:checked + .scheme-select__radioLabel {
  pointer-events: none;
}

.scheme-select__radioLabel::before {
  content: '';
  display: block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  outline-offset: 0.1em;
  transition: background-color 0.1s ease-in-out;
}

.scheme-select__radio:checked + .scheme-select__radioLabel::before {
  background-color: var(--text-color);
}

@supports (contain: none) {
  .scheme-select__radio:focus-visible + .scheme-select__radioLabel::before {
    outline: 2px dotted var(--text-color);
  }
}

@supports not (contain: none) {
  .scheme-select__radio:focus + .scheme-select__radioLabel::before {
    outline: 2px dotted var(--text-color);
  }
}
