.section {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 3fr;
  border-top: 1px solid var(--secondary-color);
  padding: 1em 0;
}

.section:last-child {
  border-bottom: 1px solid var(--secondary-color);
}

.section__title,
.section__heading {
  position: sticky;
  top: 1rem;
}

.section__content {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'subtitle info info';
  padding: 1em 0;
}

.section__content:first-child {
  padding-top: 0;
}

.section__content:last-child {
  padding-bottom: 0;
}

.section__info {
  grid-area: info;
}

.section__subtitle {
  position: sticky;
  top: 1rem;
}

@media (orientation: portrait) {
  .section__content {
    grid-template-columns: 1fr;
    grid-template-areas: 'subtitle' 'info';
  }
}

@media (max-aspect-ratio: 3/5) {
  .section {
    grid-template-columns: 1fr;
    border-top: 0;
  }

  .section__header {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .section__header::after {
    content: '';
    display: block;
    border-top: 1px solid var(--secondary-color);
    width: 100%;
  }

  .section__content:first-child {
    padding: 1em 0;
  }
}
