.home {
  height: 100%;
  font-size: 2em;
  gap: 1em;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {
  .home__content {
    text-align: center;
  }
}

.home p {
  margin: 0;
}

.home__description {
  align-self: flex-end;
}

@media (orientation: portrait) {
  .home__description {
    align-self: center;
  }
}
