footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2% 6% 4%;
  flex-shrink: 0;
}

@media (orientation: portrait) {
  footer {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}

@media (orientation: portrait) {
  .copyright {
    margin-top: 1em;
  }
}

.heart {
  color: tomato;
}

.scheme-select {
  text-align: center;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  max-height: 3.7em;
}

@media (orientation: portrait) {
  .scheme-select {
    margin: 1em 0 0;
  }
}

.scheme-select__legend {
  margin: 0 auto;
}

.scheme-select__button {
  font-size: 1.25em;
}
