.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4% 6% 0;
}

.language {
  font-size: 1.25em;
  flex-shrink: 0;
  margin-left: 1em;
  text-transform: uppercase;
}