.header {
  padding: 4% 6% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
}

.header__logo {
  width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  box-shadow: none;
  transition: background-color 0.1s ease, border-color 0.1s ease;
}

.header__logo:hover {
  box-shadow: none;
  background-color: var(--link-color);
  border-color: transparent;
}

.header__logo[aria-current] {
  box-shadow: none;
  background-color: var(--link-color);
  border-color: transparent;
  pointer-events: none;
}

.header__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  list-style: none;
}
