.intro {
  height: 100%;
  font-size: 2em;
  gap: 1em;
}

.intro__content {
  padding: 6% 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {
  .intro__content {
    text-align: center;
  }
}

.intro p {
  margin: 0;
}

.intro__name {
  font-size: 1.8em;
  font-weight: bold;
}

.intro__description {
  align-self: flex-end;
}

@media (orientation: portrait) {
  .intro__description {
    align-self: center;
  }
}
