.picture {
  display: block;
  position: relative;
  margin: 0 1em 2em 0;
}

.picture--left {
  float: left;
}

.picture--right {
  float: right;
  margin-left: 1em;
}

.picture:after {
  content: '';
  position: absolute;
  top: 1em;
  left: 1em;
  width: 100%;
  height: 100%;
  border: 2px solid var(--link-color);
  border-radius: 1em;
}

.picture__image {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 1em;
}

.picture--left,
.picture--right {
  width: 12em;
  max-width: 320px;
}

@media (orientation: portrait) {
  .picture--left,
  .picture--right {
    width: 8em;
  }
}
