.postsList {
  padding: 0;
  list-style: none;
}

.postsList__element {
  display: flex;
  flex-direction: row;
}

@media (orientation: portrait) {
  .postsList__element {
    flex-direction: column;
  }
}

.postsList__date {
  width: 4em;
  min-width: 4em;
  opacity: 0.7;
}
