.scheme-select {
  text-align: center;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: var(--link-color);
  height: 3.4em;
  display: flex;
  gap: 0.75em;
}

.scheme-select__legend {
  margin: 0 auto;
  padding: 0 0.25em;
}

.scheme-select__control {
  display: flex;
}

.scheme-select__radio {
  width: 0;
  opacity: 0;
}

.scheme-select__radioLabel {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  gap: 0.25em;
}

.scheme-select__radio:checked + .scheme-select__radioLabel {
  pointer-events: none;
}

.scheme-select__radioLabel::before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  outline-offset: 0.1em;
}

.scheme-select__radio:hover + .scheme-select__radioLabel::before {
  border: 0.1em solid var(--link-color);
}

.scheme-select__radio:checked + .scheme-select__radioLabel::before {
  border: 0.1em solid var(--link-color);
}

.scheme-select__radio:checked + .scheme-select__radioLabel::after {
  content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  left: 0.25em;
  background-color: var(--link-color);
  border-radius: 50%;
}

@supports (contain: none) {
  .scheme-select__radio:focus-visible + .scheme-select__radioLabel::before {
    outline: 2px dotted var(--text-color);
  }
}

@supports not (contain: none) {
  .scheme-select__radio:focus + .scheme-select__radioLabel::before {
    outline: 2px dotted var(--text-color);
  }
}
