.social {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  font-size: 1.5em;
  line-height: 0.8em;
  list-style-type: none;
}

.social li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em 0 0;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75em;
  height: 1.75em;
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 50%;
  transition: 0.05s ease transform;
}

.social a:hover {
  color: #fff;
  transform: scale(1.4);
}

.social a.telegram {
  background-color: #0088cc;
}

.social a.instagram {
  background: radial-gradient(
      circle at 25% 110%,
      #fdf497 0,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    ),
    radial-gradient(
      circle at 25% 110%,
      #b9a800 0,
      #938500 5%,
      #b10f00 45%,
      #8c0061 60%,
      #002ca9 90%
    );
}

.social a.facebook {
  background-color: #4868ad;
}

.social a.linkedin {
  background-color: #0077ba;
}

.social a.github {
  background-color: #4e545a;
}

.social .icon {
  display: block;
  line-height: 1.75em;
}

@media (orientation: portrait) {
  .social {
    font-size: 1.75em;
    margin-bottom: -0.25em;
  }

  .social li {
    margin-bottom: 0.25em;
  }
}
