.main {
  flex: 1 0 auto;
  max-width: 54em;
  padding: 0 6%;
}

.main p {
  margin: 1em 0;
  font-size: 1.25em;
  line-height: 1.4;
}

.main p a {
  position: relative;
  text-decoration: none;
  color: inherit;
  line-height: 1.2;
  box-shadow: inset 0 -0.4em 0 0 var(--link-color);
  transition: box-shadow 0.1s ease;
}

.main p a:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--link-color);
}
