@font-face {
  font-family: 'Rubik';
  src: url('/src/assets/fonts/Rubik-Light.woff2') format('woff2'),
    url('/src/assets/fonts/Rubik-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('/src/assets/fonts/Rubik-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Rubik-Medium.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}

html {
  box-sizing: border-box;
  height: 100%;

  /* Prevent layout shift (fallback) */
  overflow: scroll;
}

/* Prevent layout shift */
@supports (scrollbar-gutter: stable) {
  html {
    overflow: auto;
    scrollbar-gutter: stable;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

:root {
  --layout-padding-v: 2em;
  --layout-padding-h: 6em;
}

@media (orientation: portrait) {
  :root {
    --layout-padding-v: 2em;
    --layout-padding-h: 1.5em;
  }
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 16px; /* fallback */
  font-size: calc(12px + 0.8vw);
  color: var(--text-color);
  text-align: left;
  background-color: var(--background-color);
  transition: 0.1s ease-in-out background-color, 0.1s ease-in-out color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  box-shadow: inset 0 -0.4em 0 0 var(--link-color);
  transition: box-shadow 0.1s ease-in-out;
  outline-offset: 0.1em;
}

a:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--link-color);
}

a[aria-current],
a.active {
  box-shadow: inset 0 -1.2em 0 0 var(--link-color);
  pointer-events: none;
}

@supports (contain: none) {
  a:focus-visible {
    outline: 2px dotted var(--text-color);
  }
}

@supports not (contain: none) {
  a:focus {
    outline: 2px dotted var(--text-color);
  }
}
