.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--layout-padding-v) var(--layout-padding-h);
  flex-shrink: 0;
}

@media (orientation: portrait) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
    text-align: center;
  }
}

.footer__heart {
  color: tomato;
}

.footer__speedlify,
.footer__speedlify:hover {
  box-shadow: none;
}

@media (orientation: portrait) {
  .footer__speedlify {
    order: 1;
  }
}

.footer__speedlify .speedlify-score {
  color: var(--text-color);
  transition: 0.1s ease-in-out color;
}
