.main {
  flex: 1 0 auto;
  padding: 0 var(--layout-padding-h);
  line-height: 1.4;
}

.main > *:first-child {
  margin-top: 0;
}

.main h1 {
  font-size: 1.8em;
  margin: 0 0 0.5em;
}

.main h2 {
  font-size: 1.2em;
  margin: 1.25em 0 0.5em;
}

.main p {
  margin: 0.75em 0;
}

.main time {
  opacity: 0.6;
}
