@import './vendors.css';
@import './core.css';
@import './blocks/main.css';
@import './blocks/logo.css';

.og {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--layout-padding-v) var(--layout-padding-v);
  line-height: 1.4;
}

.og__title {
  font-size: 2.4em;
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
}

.og__description {
  margin: 1rem 0 0;
  font-size: 1.6em;
}

.og__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0;
}

.og__link {
  font-size: 1.6em;
}

.og__date {
  font-size: 1.6em;
}