---
layout: page.njk
permalink: '/en/'
language: en
head:
  title: Kirill Ivanov – Front-end developer
  description: My personal homepage
header:
  h1: Kirill Ivanov
  h2: Front-end developer
portrait:
  title: Source photo
  alt: Kirill Ivanov
scheme:
  legend: Color scheme
  light: Light
  auto: Auto
  dark: Dark
copyright: Made with <span class="heart">♥</span> using
---

<div class="intro">
  <img class="intro__photo" src="/assets/img/intro.jpg" alt=""/>
  <div class="intro__content">
    <p>Hello, my name is</p>
    <span class="intro__name">Kirill Ivanov</span>
  </div>
</div>
