---
layout: page.njk
permalink: '/'
language: ru
head:
  title: Кирилл Иванов – Front-end разработчик
  description: Моя персональная страница
header:
  h1: Кирилл Иванов
  h2: Front-end разработчик
portrait:
  title: Фотография в исходном размере
  alt: Кирилл Иванов
scheme:
  legend: Цветовая схема
  light: Светлая
  auto: Авто
  dark: Темная
copyright: Сделано с <span class="heart">♥</span> на движке
---

<div class="intro">
  <img class="intro__photo" src="/assets/img/intro.jpg" alt=""/>
  <div class="intro__content">
    <p>Hello, my name is</p>
    <span class="intro__name">Kirill Ivanov</span>
  </div>
</div>
