---
title: Blog
order: 2
head:
  title: Kirill Ivanov – Blog
  description: My blog
---
<ul>
  {%- for element in collections.posts -%}
    <li>
      <a href="{{element.url}}">
        {{ element.data.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>
