---
layout: page.njk
permalink: '/'
title: Home
order: 0
head:
  title: Kirill Ivanov – Home
  description: My personal homepage
---

<div class="intro">
  <img class="intro__photo" src="/assets/img/intro.jpg" alt=""/>
  <div class="intro__content">
    <p>Hello, my name is</p>
    <span class="intro__name">Kirill Ivanov</span>
  </div>
</div>
