html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 16px; /* fallback */
  font-size: calc(10px + 0.6vw);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  text-align: left;
  background-color: var(--background-color);
  transition: 0.1s ease background-color, 0.1s ease color;
}

a {
  outline-offset: 0.1em;
}

@supports (contain: none) {
  a:focus-visible,
  button:focus-visible {
    outline: 2px dashed var(--outline-color);
  }
}

@supports not (contain: none) {
  a:focus,
  button:focus-visible {
    outline: 2px dashed var(--outline-color);
  }
}
