html.light {
  --background-color: #fff;
  --text-color: #263238;
  --link-color: #32d9ffbf;
  --outline-color: #32d9ff;
}

html.dark {
  --background-color: #181818;
  --text-color: #dadfe1;
  --link-color: #4c49fdbf;
  --outline-color: #4c49fd;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #263238;
    --link-color: #32d9ffbf;
    --outline-color: #32d9ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181818;
    --text-color: #dadfe1;
    --link-color: #4c49fdbf;
    --outline-color: #4c49fd;
  }
}
