@font-face {
  font-family: 'Rubik';
  src: url('./../../fonts/Rubik-Light.woff2') format('woff2'), url('./../../fonts/Rubik-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('./../../fonts/Rubik-Medium.woff2') format('woff2'), url('./../../fonts/Rubik-Medium.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}
