.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--layout-padding-v) var(--layout-padding-h);
  flex-shrink: 0;
}

@media (orientation: portrait) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
    text-align: center;
  }
}

.heart {
  color: tomato;
}

.scheme-select {
  text-align: center;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: var(--link-color);
  max-height: 3.4em;
}

.scheme-select__legend {
  margin: 0 auto;
}

.speedlify-container,
.speedlify-container:hover {
  box-shadow: none;
}

.speedlify-score {
  color: var(--text-color);
}
