.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--layout-padding-v) var(--layout-padding-h);
  flex-shrink: 0;
}

@media (orientation: portrait) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
    text-align: center;
  }
}

.heart {
  color: tomato;
}

.speedlify-container,
.speedlify-container:hover {
  box-shadow: none;
}

.speedlify-score {
  color: var(--text-color);
}
