---
layout: mylayout.njk
---

<p>
  Занимаюсь веб-разработкой с 2015 года. В настоящее время занят разработкой
  интерфейсов в крупном
  <a href="https://www.ozon.ru/" title="Ozon" target="_blank">маркетплейсе</a>.
  Больше информации о моем опыте и навыках можно найти
  <a
    href="https://www.linkedin.com/in/kirillunlimited/"
    title="LinkedIn"
    target="_blank"
    >тут</a
  >, однако я не рассматриваю предложений о трудоустройстве и подработке.
</p>
<p>
  Женат. В свободное время делаю то же, что и остальные: смотрю
  <a
    href="https://www.kinopoisk.ru/user/14006777/"
    title="Kinopoisk"
    target="_blank"
    >кино</a
  >, слушаю
  <a
    href="https://open.spotify.com/user/31woa7anrwoyjfdww63esvvdxk6u"
    title="Spotify"
    target="_blank"
    >музыку</a
  >, читаю
  <a
    href="https://www.livelib.ru/reader/kirillunlimited"
    title="LiveLib"
    target="_blank"
    >книги</a
  >, играю в
  <a
    href="https://www.boardgamegeek.com/user/kirillunlimited"
    title="BoardGameGeek"
    target="_blank"
    >настольные игры</a
  >, путешествую и пробую себя в разных видах спорта. Катаюсь на
  <a
    href="https://www.strava.com/athletes/38933609"
    title="Strava"
    target="_blank"
    >горном велосипеде</a
  >
  и
  <a
    href="https://www.youtube.com/watch?v=iE2OXBkd1W0"
    title="YouTube Snowboarding"
    target="_blank"
    >сноуборде</a
  >.
</p>
<p>
  Если захотите сделать мне приятное, вам поможет мой
  <a
    href="https://www.notion.so/f30e496a3fc040da8d88b7971cc3a57a"
    title="Notion"
    target="_blank"
    >список желаний</a
  >.
</p>
