---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "Kirill Ivanov",
  "icons": [
    { "src": "{% imagePath 'src/assets/img/avatar.jpg', 'png', [192] %}", "type": "image/png", "sizes": "192x192" },
    { "src": "{% imagePath 'src/assets/img/avatar.jpg', 'png', [512] %}", "type": "image/png", "sizes": "512x512" }
  ]
}