<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ head.title }}</title>
    <meta name="description" content="{{head.description}}"/>
    <meta name="keywords" content="Kirill Ivanov, frontend, developer, javascript"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="generator" content="Eleventy" >

    {# Open Graph #}
    <meta property="og:title" content="{{ head.title }}"/>
    <meta property="og:description" content="{{ head.description }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://kirillunlimited.com{% image thumbnail or 'src/assets/img/me.jpg', 'jpeg' %}" />
    <meta property="og:url" content="https://kirillunlimited.com{{ page.url }}" />

    {# Preload fonts #}
    <link rel="preload" href="{% webpack 'Rubik-Medium.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% webpack 'Rubik-Light.woff2' %}" as="font" type="font/woff2" crossorigin>

    {# Styles #}
    <link rel="stylesheet" href="{% webpack 'light.css' %}" media="(prefers-color-scheme: light)" data-color-scheme="light"/>
    <link rel="stylesheet" href="{% webpack 'dark.css' %}" media="(prefers-color-scheme: dark)" data-color-scheme="dark"/>
    <link rel="stylesheet" href="{% webpack 'styles.css' %}" />

    {# Favicon #}
    <link rel="icon" type="image/png" sizes="16x16" href="{% image 'src/assets/img/favicon/16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% image 'src/assets/img/favicon/32.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% image 'src/assets/img/favicon/48.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% image 'src/assets/img/favicon/192.png' %}">

    {# Theme #}
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#32d9ff" data-color-scheme="light" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#4c49fd" data-color-scheme="dark" />

    <script src="{% webpack 'app.js' %}"></script>
  </head>
  <body>
    {% include 'header.njk' %}
    <main class="main">
      {{content | safe}}
    </main>
    {% include 'footer.njk' %}
    {% if script %}<script src="{% webpack script %}"></script>{% endif %}
    <script data-goatcounter="https://kirillunlimitedcom.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>