<ul class="postsList">
  {%- for element in collections.posts -%}
    <li class="postsList__element">
      <a href="{{element.url}}">
        {{ element.data.title }}
      </a>
      <time class="postsList__date">{{ element.date | postDate}}</time>
    </li>
  {%- endfor -%}
</ul>
